/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100..900&display=swap'); /* for verify */
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Play&display=swap'); /* for naavbar */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    height: 100vh;
    background: rgb(173, 217, 210);
    /* background-image: url(samsung-background.jpg); */
    /* background: transparent; */
    /* filter: blur(15); */
}

nav {
    width: 100%;
    position: sticky;
    margin: auto auto;
    padding: auto auto;
    z-index: 1;
    display: flex;
    overflow: hidden;
    align-items: center;
    font-family: "Play", sans-serif;
    font-weight: 700;
    /* border: 2px solid black; */
    /* background: rgb(173, 217, 210); */
    font-size: 1.2rem;
}

.logo {
    flex-basis: 20%;
    margin: .7rem 2rem;
}

.logo img {
    width: 150px;
    border: 1px solid white;
    border-radius: 3rem;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul{
    margin-right: 2rem;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    margin: 0 1.2rem;
    /* border: 2px solid red; */
    font-size: larger;
    font-weight: 400;
    padding: 0px .5rem;
    /* color: black; */
    /* background-color: ; */
}

.nav-links ul li:hover {
    background-color: black;
    color: white;
    border: 2px solid black;
    /* border-top-right-radius: 21px; */
    border-bottom-right-radius: 21px;
    border-top-left-radius: 21px;
    /* border-bottom-left-radius: 21px; */
    transition: .3s;
}

.nav-links ul li a {
    color: black;
    text-decoration: none;
}

.nav-links ul li a:hover {
    color: white;
    text-decoration: none;
}

/* .nav-links ul li input {
    padding: 4.5px 9px;
    border: 2px solid black;
    border-radius: 6px;
}

.nav-links ul li button {
    padding: 4.5px 9px;
    border: 2px solid white;
    border-radius: 6px;
} */

.box-log{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100vw;
}

.container {
    /* background-color: transparent; */
    /* background: linear-gradient(to right, white, black); */
    backdrop-filter: blur(15);
    border: 2px solid black;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 25px 25px 15px rgba(0, 0, 0, 0.6);
    height: 300px;
    width: 300px;
    color: black;
    animation-name: box;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes box {
    0% {
        transform: translateY(-1000px);
    }

    40% {
        transform: translateY(0px);
    }

    80% {
        transform: translateY(-150px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* @keyframes box{
    0%{
        transform: translateY(-1500px);
    }
    17%{
        transform: translateY(0px);
    }
    34%{
        transform: translateY(-200px);
    }
    51%{
        transform: translateY(0px);
    }
    85%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(0px);
    }
  } */

form {
    display: flex;
    flex-direction: column;
}

input,
button {
    margin: 15px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.verify{
    font-family: "Encode Sans SC", sans-serif;
    font-weight: bold;
    color: black;
    z-index: 1;
    position: absolute;
    right: 7vw;
    bottom: 7vh;
    opacity: .6;
    font-size: 1.2em;
}